<nav class="@@classList" role="navigation">
@@if(context.boxed) {
  <div class="container position-relative">
}
@@if(!context.boxed) {
  <div class="container-fluid">
}
    @@if(!context.rtl) {
      <a class="navbar-brand" href="@@webRoot/index.html">
    }
    @@if(context.rtl) {
      <a class="navbar-brand" href="@@webRoot/rtl/index.html">
    }

    @@if(!context.logo) {
      @@include("../assets/img/svg/logo.svg")
    }
    @@if(context.logo) {
      @@include("@@logo")
    }
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

  @@if(context.boxed) {
    <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0" id="navbar-collapse">
      @@if(!context.rtl) {
        @@include('navbar-menu.html')
      }
      @@if(context.rtl) {
        @@include('navbar-menu-rtl.html')
      }
  }
  @@if(!context.boxed) {
    <div class="collapse navbar-collapse justify-content-center mt-2 mt-lg-0" id="navbar-collapse">
      @@if(!context.rtl) {
        @@include('navbar-menu.html', { "classList": "position-relative px-lg-6 px-xl-8" })
      }
      @@if(context.rtl) {
        @@include('navbar-menu-rtl.html', { "classList": "position-relative px-lg-6 px-xl-8" })
      }
  }
    </div> <!-- end .navbar-collapse -->

  </div> <!-- end .container -->
</nav>