<!-- JAVASCRIPT
============================================-->

<!-- Comment the following line if you prefer vendors broken down -->
<script src="@@webRoot/assets/js/vendor.min.js"></script>

<!-- Uncomment these lines if you prefer vendors broken down -->
<!-- <script src="@@webRoot/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="@@webRoot/assets/vendor/pikaday/pikaday.js"></script>
<script src="@@webRoot/assets/vendor/jquery.elevateZoom/jquery.elevateZoom.min.js"></script>
<script src="@@webRoot/assets/vendor/smooth-scroll/smooth-scroll.min.js"></script>
<script src="@@webRoot/assets/vendor/aos/aos.js"></script>
<script src="@@webRoot/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="@@webRoot/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>
<script src="@@webRoot/assets/vendor/jarallax/dist/jarallax-element.min.js"></script>
<script src="@@webRoot/assets/vendor/zoomerang/zoomerang.js"></script>
<script src="@@webRoot/assets/vendor/swiper/swiper.min.js"></script>
<script src="@@webRoot/assets/vendor/highlight/highlight.min.js"></script>
<script src="@@webRoot/assets/vendor/atvImg/atvImg-min.js"></script> -->


<!-- Main Theme file -->
<script src="@@webRoot/assets/js/theme.min.js"></script>
