<!-- for mobile (sm) only -->
<aside class="pt-2 d-block d-md-none">
  <a href="#collapseCategories" class="d-block rounded text-dark text-decoration-none bg-light px-3 py-2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCategories">
    Categories
    <i class="fas fa-chevron-down collapse-icon fa-xs float-right mt-2"></i>
  </a>

  <div id="collapseCategories" class="collapse mt-4 px-2">
    <div class="row">
      <div class="col-6">
        <a class="d-block text-gray-600 text-uppercase font-size-xs">
          Clothing
        </a>
        <div class="pl-3 pt-2">
          <a href="#" class="text-dark d-block mb-2">T-shirts</a>
          <a href="#" class="text-dark d-block mb-2">Jackets</a>
          <a href="#" class="text-dark d-block mb-2">Jeans</a>
          <a href="#" class="text-dark d-block">Shorts</a>
        </div>
      </div>
      <div class="col-6">
        <a class="d-block text-gray-600 text-uppercase font-size-xs">
          Shoes
        </a>
        <div class="pl-3 pt-2">
          <a href="#" class="text-dark d-block mb-2">Trainers</a>
          <a href="#" class="text-dark d-block mb-2">Boots</a>
          <a href="#" class="text-dark d-block mb-2">Sports wear</a>
        </div>
      </div>
    </div>
  </div>

  <a href="#collapseRatings" class="d-block rounded text-dark text-decoration-none bg-light px-3 py-2 mt-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseRatings">
    Ratings
    <i class="fas fa-chevron-down collapse-icon fa-xs float-right mt-2"></i>
  </a>

  <div id="collapseRatings" class="collapse mt-4 px-2">
    <a href="#" class="d-block text-warning text-decoration-none mb-1">
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <span class="text-dark font-size-sm ml-1">(7)</span>
    </a>
    <a href="#" class="d-block text-warning text-decoration-none mb-1">
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <span class="text-dark font-size-sm ml-1">(13)</span>
    </a>
    <a href="#" class="d-block text-warning text-decoration-none mb-1">
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <span class="text-dark font-size-sm ml-1">(18)</span>
    </a>
    <a href="#" class="d-block text-warning text-decoration-none mb-1">
      <i class="fas fa-star fa-xs"></i>
      <i class="fas fa-star fa-xs"></i>
      <span class="text-dark font-size-sm ml-1">(9)</span>
    </a>
  </div>
</aside>

<!-- for tablets (md) and up -->
<aside class="position-sticky d-none d-md-block pt-2" style="top: 20px;">
  <h5 class="text-dark mb-4">
    Categories
  </h5>

  <div class="mb-4">
    <a class="d-block text-gray-600 text-uppercase font-size-xs" data-toggle="collapse" href="#clothing">
      Clothing
    </a>
    <div class="collapse show pl-3 pt-2" id="clothing">
      <a href="#" class="text-dark d-block mb-2">T-shirts</a>
      <a href="#" class="text-dark d-block mb-2">Jackets</a>
      <a href="#" class="text-dark d-block mb-2">Jeans</a>
      <a href="#" class="text-dark d-block">Shorts</a>
    </div>
  </div>

  <div class="mb-4">
    <a class="d-block text-gray-600 text-uppercase font-size-xs" data-toggle="collapse" href="#shoes">
      Shoes
    </a>
    <div class="collapse show pl-3 pt-2" id="shoes">
      <a href="#" class="text-dark d-block mb-2">Trainers</a>
      <a href="#" class="text-dark d-block mb-2">Boots</a>
      <a href="#" class="text-dark d-block mb-2">Sports wear</a>
    </div>
  </div>

  <h5 class="text-dark mt-5 mb-3">
    Ratings
  </h5>

  <a href="#" class="d-block text-warning text-decoration-none mb-1">
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <span class="text-dark font-size-sm ml-1">(7)</span>
  </a>

  <a href="#" class="d-block text-warning text-decoration-none mb-1">
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <span class="text-dark font-size-sm ml-1">(13)</span>
  </a>

  <a href="#" class="d-block text-warning text-decoration-none mb-1">
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <span class="text-dark font-size-sm ml-1">(18)</span>
  </a>

  <a href="#" class="d-block text-warning text-decoration-none mb-1">
    <i class="fas fa-star fa-xs"></i>
    <i class="fas fa-star fa-xs"></i>
    <span class="text-dark font-size-sm ml-1">(9)</span>
  </a>
</aside>
